.poll {
  margin: 5px;
  padding: 5px;
}
.choice {
  margin: 5px;
  padding: 5px;
}

.ios, .md {

  page-home {

      .scroll-content {
          background-color: black;
      }

      ion-card-header {
          font-weight: bold;
      }

  }

}