<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>New Group</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed">

  <ion-card>
    <ion-input
      (ionInput)="onInput($event)"
      placeholder="Group name"   
      clearInput
    ></ion-input>
</ion-card>

<div style="padding-left: 10px; padding-right: 10px">
  <ion-text color="dark" >
    <ion-label style="padding-left: 5px;">ADD PEOPLE</ion-label>
  </ion-text>

  <ion-row scrollX="true" class="scrollx">
    <ion-list *ngFor="let i of userCheck" text-center>
    <ion-avatar>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Google_Contacts_logo_vector.svg/1200px-Google_Contacts_logo_vector.svg.png"
      />
    </ion-avatar>
    {{ i }}
  </ion-list>

    <!-- &nbsp;&nbsp;
    <ion-icon name="ios-add-circle-outline" style="font-size: 3rem"></ion-icon> -->
  </ion-row>
</div>

  <ion-card>
    <ion-list style="background: lightskyblue">
      <ion-card-subtitle
        style="padding: 5px; background: lightskyblue;"
        color="dark"
      >
        NAME LIST
      </ion-card-subtitle>
    </ion-list>
    
    <div scrollY="true" class="scrolly">
      <ion-item *ngFor="let items of user" lines="none">
        <ion-avatar slot="start">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Google_Contacts_logo_vector.svg/1200px-Google_Contacts_logo_vector.svg.png"
          />
        </ion-avatar>
        <ion-label>{{ items.username }}</ion-label>
        <ion-checkbox slot="end" color="success" (ionChange)="check($event, items)"></ion-checkbox>
      </ion-item>
    </div>

  </ion-card>
<br>
  <ion-button expand="full" fill="solid" (click)="createGroup()">+ CREATE GROUP</ion-button>
</ion-content>
